<h2>La dificultad esta puesta en <%=@dificultad%></h2>
<h2>Los intentos que puede hacer el jugador son <%=@intentos%></h2>
<h2>Con un codigo numerico de <%=@tamañoCodigo%> digitos</h2> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body { 
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-image: url('/images/descarga.jpg');
        background-size: 100% auto;
    }

    .form_wrap{
        background-color: rgba(200, 200, 200, 0.65);
        width:350px;
        height:auto;
        margin:50px auto 0;
        padding:50px;
        color:#333;
        border:2px solid #C2D6FF;
        border-radius:40px 0 40px 0
    }

    .content-prev {
        background-color: rgba(200, 200, 200, 0.65);
        width:350px;
        height:auto;
        margin:50px 0px 0px 0px;
        padding:50px;
        color:#333;
        border:2px solid #C2D6FF;
        border-radius:40px 0 40px 0;
    }

    h1, h2 {
        color: white;
        text-shadow: 2px 2px black;
    }

    input[type=number] {
        background-color: black;
        color: white;
        height: 20px;
    }



    </style>
</head>
<body>
    <center><div class="content-prev">
    <h2>Los intentos que puede hacer el jugador son <%=@intentos%></h2>
    <h2>Con un codigo numerico de <%=@tamañoCodigo%> digitos</h2> 
    <form method='get' action='/'>
        <input type="submit" value='volver al inicio'>
    </form>
    </div><center>
</body>
</html>
